*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Teko', sans-serif;
    overflow: hidden;
	/* color: white !important; */
}

/* Background */
.wave{
	position: fixed;
	max-width: 100%;
	height: auto;
	z-index: -1;
}
/* Căn chỉnh 1 thuộc tính nằm giữa hình ảnh */
.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
}

.form{
	align-items: center;
	border-radius: 15px;
	background-color: rgba(3, 120, 121, 0.4);
	padding: 20px 80px 80px;
}

.form .avatar{
	display: block;
	width: 100px;
	opacity: 0.9;
	margin-left: auto;
	margin-right: auto;
}

.form h1,h2{
	margin-top: 20px;
	text-transform: uppercase; /*Viết hoa tất cả*/
	text-align: center;

}

.form a {
	text-decoration: none;
	color: #000;
	
}

.form .i{
	display: block;
}

.form .input-sub{
	display: block;
}